---
layout: page
description: "Headlines and Points from Opposing Views"
---

<div ng-repeat="item in items"
  <div class="post-preview">
    <a href="#/post/[[items.indexOf(item)]]">
      <h2 class="post-title"> [[ item.title ]] </h2>

      <h3 class="post-subtitle"> [[ item.subtitle ]] </h3>

    </a>
    <p class="post-meta">Posted by [[ post.author ]] on [[ item.date ]]</p>
  </div>
</div>
<hr>


<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
